* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: url("img/bg.png");
}

.container {
  max-width: 1290px;
  margin: 0 auto;
}

.index_header {
  background-image: url(img/header_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 790px;
}
.index_header .menu {
  display: flex;
  background-color: rgba(0, 0, 0, 0.65);
  justify-content: center;
  z-index: 10;
}
.index_header .menu .logo {
  margin-top: 15px;
}
.index_header .menu ul li:hover .sub_menu {
  display: block;
  z-index: 10;
}
.index_header .menu .menu_list {
  display: flex;
  list-style-type: none;
  padding: 40px 0;
  position: relative;
}
.index_header .menu .menu_list .sub_menu {
  display: none;
  width: 200px;
  background: #f0efed;
  position: absolute;
  list-style-type: none;
  left: 400px;
  z-index: 10;
}
.index_header .menu .menu_list .sub_menu .sub_menu_link {
  padding: 13px 20px;
  border: 1px solid #E4E3E2;
}
.index_header .menu .menu_list .sub_menu .sub_menu_link a {
  font-size: 13px;
  line-height: 15px;
  color: #737373;
}
.index_header .menu .menu_list .menu_link {
  padding-left: 68px;
}
.index_header .menu .menu_list .menu_link a {
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
.index_header .header_content {
  align-items: center;
  display: flex;
  max-width: 1290px;
  justify-content: space-between;
  margin: 0 auto;
}
.index_header .header_content .header_h1 {
  font-family: Exo;
  font-style: italic;
  font-weight: 600;
  font-size: 56px;
  line-height: 120%;
  color: #FFFFFF;
  max-width: 630px;
}
.index_header .header_content .header_h2 {
  font-family: "Exo", sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 34px;
  line-height: 45px;
  color: #FFFFFF;
  background-color: #6D010C;
  width: 330px;
  text-align: center;
}
.index_header .header_content .header_form {
  max-width: 390px;
  margin-top: 30px;
  margin-bottom: 40px;
}
.index_header .header_content .header_form .form_h4 {
  font-family: Exo;
  font-style: italic;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #737373;
}
.index_header .header_content .header_form form {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  border-radius: 20px;
  padding: 26px 36px;
}
.index_header .header_content .header_form form .input {
  padding: 18px 14px;
  margin-top: 12px;
  background-color: #F8F8F8;
  border-radius: 5px;
  border-width: 0;
}
.index_header .header_content .header_form form .form_btn {
  background: #6D010C;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  border-radius: 5px;
  border-width: 0;
}
.index_header .header_content .header_form form .form_btn:hover {
  cursor: pointer;
}
.index_header .header_content .header_form form .accept {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding-top: 24px;
}
.index_header .header_content .header_form form .accept .accept_text {
  padding-left: 10px;
  font-size: 11px;
  line-height: 150%;
  color: #737373;
}
.index_header .header_content .header_form form .accept .accept_text:hover {
  cursor: pointer;
}
.index_header .header_content .header_form form .accept .switch {
  position: relative;
  display: flex;
  width: 35px;
  height: 22px;
}
.index_header .header_content .header_form form .accept .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.index_header .header_content .header_form form .accept .switch input:checked + .slider {
  background-color: #6D010C;
}
.index_header .header_content .header_form form .accept .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.index_header .header_content .header_form form .accept .slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 50%;
  transform: translateY(50%);
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.index_header .header_content .header_form form .accept input:focus + .slider {
  box-shadow: 0 0 1px #6D010C;
}
.index_header .header_content .header_form form .accept input:checked + .slider:before {
  transform: translateX(13px) translateY(50%);
}
.index_header .header_content .header_form form .accept .slider.round {
  border-radius: 34px;
}
.index_header .header_content .header_form form .accept .slider.round:before {
  border-radius: 50%;
}

.index_content {
  margin-top: 70px;
}
.index_content .types_of_trucks {
  max-width: 1290px;
  margin: 0 auto;
  margin-bottom: 67px;
}
.index_content .types_of_trucks h2 {
  font-family: "Exo", sans-serif;
  font-weight: bold;
  font-size: 34px;
  line-height: 120%;
  color: #FFFFFF;
  margin-bottom: 60px;
}
.index_content .truck_box {
  display: flex;
  justify-content: space-between;
}
.index_content .truck_box .truck {
  max-width: 410px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 10px;
}
.index_content .truck_box .truck .logo_1 {
  position: absolute;
  left: 184px;
  top: 20px;
}
.index_content .truck_box .truck .logo_2 {
  position: absolute;
  left: 184px;
  top: 13px;
}
.index_content .truck_box .truck .logo_3 {
  position: absolute;
  left: 184px;
  top: 18px;
}
.index_content .truck_box .truck .ellipse {
  align-self: center;
  margin-bottom: -40px;
}
.index_content .truck_box .truck h3 {
  font-family: Exo;
  font-weight: 300;
  font-size: 28px;
  line-height: 120%;
  color: #FFFFFF;
  padding-top: 20px;
}
.index_content .truck_box .truck p {
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  padding-top: 14px;
}
.index_content .we_offer {
  background: #FFFFFF;
  background-image: url(img/home_electric_texture.svg);
  background-repeat: no-repeat;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
}
.index_content .we_offer .we_offer_content {
  max-width: 1290px;
  margin: 0 auto;
}
.index_content .we_offer h2 {
  font-weight: bold;
  font-size: 34px;
  line-height: 120%;
  color: #6D010C;
  margin-bottom: 30px;
}
.index_content .we_offer p {
  font-size: 24px;
  line-height: 140%;
  color: #737373;
}
.index_content .we_offer .index_offer_cards {
  display: flex;
  padding-top: 54px;
  justify-content: space-around;
}
.index_content .we_offer .index_offer_cards .offer_card {
  max-width: 234px;
}
.index_content .we_offer .index_offer_cards .offer_card h3 {
  font-weight: 300;
  font-size: 18px;
  line-height: 120%;
  color: #6D010C;
  margin-bottom: 12px;
}
.index_content .we_offer .index_offer_cards .offer_card p {
  font-size: 13px;
  line-height: 150%;
  color: #737373;
  margin-bottom: 12px;
}
.index_content .we_offer .index_offer_cards .offer_card a {
  font-size: 13px;
  line-height: 150%;
  color: #276DD7;
  text-decoration: none;
}
.index_content .we_offer .index_offer_cards .offer_card img {
  margin-bottom: 22px;
}
.index_content .reviews_container {
  background-color: #F5F5F5;
  background-image: url(img/home_electric_texture_3.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 800px;
}
.index_content .reviews {
  padding: 80px 0 80px;
  display: flex;
  justify-content: space-between;
  max-width: 1290px;
  margin: 0 auto;
  align-items: center;
}
.index_content .reviews h2 {
  font-size: 24px;
  line-height: 120%;
  color: #6D010C;
  margin-bottom: 31px;
}
.index_content .reviews p {
  font-size: 16px;
  line-height: 150%;
  color: #737373;
}
.index_content .reviews .name {
  font-size: 13px;
  line-height: 150%;
  color: #A8A8A8;
  margin-top: 11px;
  display: flex;
  list-style-type: none;
}
.index_content .reviews .name::before {
  content: url(img/user.svg);
  margin-right: 7px;
}
.index_content .reviews .we_are_best {
  max-width: 50%;
}
.index_content .reviews .review_image {
  max-width: 40%;
}
.index_content .reviews .clients_reviews {
  max-width: 50%;
  margin-left: 90px;
  padding-left: 17px;
}
.index_content .reviews .clients_reviews h2 {
  margin-left: -17px;
}
.index_content .reviews .clients_reviews p {
  margin-top: 31px;
}
.index_content .reviews .review_1 {
  position: relative;
  z-index: 2;
}
.index_content .reviews .review_1 img {
  position: absolute;
  z-index: -1;
  top: -13px;
  left: -20px;
}
.index_content .reviews .review_2 {
  position: relative;
  z-index: 2;
}
.index_content .reviews .review_2 img {
  position: absolute;
  z-index: -1;
  top: -13px;
  left: -20px;
}

.header {
  background-image: url(img/Secondary/BG.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 330px;
  background-color: #6D010C;
  position: relative;
  z-index: 2;
}
.header .logo {
  margin-top: 15px;
}
.header .menu {
  display: flex;
  background-color: rgba(0, 0, 0, 0.65);
  justify-content: center;
  z-index: 10;
}
.header .menu ul li:hover .sub_menu {
  display: block;
  z-index: 10;
}
.header .menu .menu_list {
  display: flex;
  list-style-type: none;
  padding: 40px 0;
  position: relative;
}
.header .menu .menu_list .sub_menu {
  display: none;
  width: 200px;
  background: #f0efed;
  position: absolute;
  list-style-type: none;
  left: 400px;
  z-index: 10;
}
.header .menu .menu_list .sub_menu .sub_menu_link {
  padding: 13px 20px;
  border: 1px solid #E4E3E2;
}
.header .menu .menu_list .sub_menu .sub_menu_link a {
  font-size: 13px;
  line-height: 15px;
  color: #737373;
}
.header .menu .menu_list .menu_link {
  padding-left: 68px;
}
.header .menu .menu_list .menu_link a {
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
.header h1 {
  font-family: Exo;
  font-weight: 500;
  font-size: 53px;
  line-height: 120%;
  color: #6D010C;
  position: absolute;
  top: 50%;
  left: 10%;
}

.offer_cards {
  padding: 73px 0 81px;
  background-color: #FFFFFF;
  box-sizing: border-box;
}
.offer_cards .offer_content {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1290px;
}
.offer_cards .offer_content .offer_card {
  max-width: 234px;
}
.offer_cards .offer_content .offer_card h3 {
  font-weight: 300;
  font-size: 18px;
  line-height: 120%;
  color: #6D010C;
  margin-bottom: 12px;
}
.offer_cards .offer_content .offer_card p {
  font-size: 13px;
  line-height: 150%;
  color: #737373;
  margin-bottom: 12px;
}
.offer_cards .offer_content .offer_card a {
  font-size: 13px;
  line-height: 150%;
  color: #276DD7;
  text-decoration: none;
}
.offer_cards .offer_content .offer_card img {
  margin-bottom: 22px;
}

.content {
  background-color: #F5F5F5;
  padding: 52px 300px 88px;
}
.content h2 {
  font-family: Exo;
  font-size: 42px;
  line-height: 120%;
  text-align: center;
  color: #6D010C;
  margin-bottom: 54px;
}
.content p {
  font-family: Roboto;
  font-size: 13px;
  line-height: 150%;
  color: #737373;
}
.content .text_container {
  display: flex;
}
.content .text_container .text {
  margin: 0 15px;
}

.image {
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
}

.footer .telephone {
  background-color: #6D010C;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .telephone .telephone_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .telephone h2 {
  font-family: "Exo";
  font-weight: 500;
  font-size: 30px;
  line-height: 120%;
  color: #FFFFFF;
}
.footer .telephone a {
  font-family: "Exo";
  font-weight: 500;
  font-size: 30px;
  line-height: 120%;
  color: #FFFFFF;
  text-decoration: none;
  margin-left: 80px;
}
.footer .telephone .fb {
  margin-left: 250px;
}
.footer .telephone .tel::before {
  content: url(img/phone_red.svg);
  margin-right: 11px;
}
.footer .telephone .tel_button {
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #590000;
  padding: 12px 18px;
  border-radius: 5px;
}
.footer .footer_content {
  display: flex;
  justify-content: space-between;
  padding: 63px 0 59px;
  max-width: 1290px;
  margin: 0 auto;
}
.footer .footer_content h3 {
  font-family: "Exo";
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  color: #A60012;
  margin-bottom: 18px;
}
.footer .footer_content p {
  font-style: italic;
  font-size: 13px;
  line-height: 170%;
  color: #9B9B9B;
}
.footer .footer_content span {
  color: #276DD7;
}
.footer .footer_content div {
  max-width: 330px;
}
.footer .footer_content div img {
  margin-right: 15px;
}
.footer .footer_content div ul {
  list-style-type: none;
}
.footer .footer_content div ul a {
  font-style: italic;
  font-size: 13px;
  line-height: 170%;
  color: #9B9B9B;
  text-decoration: none;
}
.footer .rights {
  padding: 8px;
}
.footer .rights p {
  font-style: italic;
  font-size: 13px;
  line-height: 170%;
  text-align: center;
  color: #999999;
}
.footer .rights p a {
  text-decoration: none;
  color: #276DD7;
}

.aside_menu {
  display: none;
}

@media (max-width: 1279px) {
  .index_header {
    display: flex;
    flex-direction: column;
  }
  .index_header .menu {
    justify-content: flex-end;
  }

  .truck_box {
    flex-direction: column;
    align-items: center;
  }

  .review_image {
    display: none;
  }
}
@media (max-width: 667px) {
  .aside_menu {
    display: block;
    padding-left: 20px;
  }
  .aside_menu .menu_list {
    list-style-type: none;
  }
  .aside_menu .menu_list li {
    padding: 5px 0;
  }
  .aside_menu .menu_list .sub_menu {
    list-style-type: none;
    display: none;
  }
  .aside_menu .menu_list ul li:active .sub_menu {
    display: block;
  }
  .aside_menu .menu_list a {
    text-decoration: none;
    background: #6D010C;
    color: #F5F5F5;
    display: block;
    width: 100px;
  }

  .index_header {
    display: flex;
    padding-top: 20px;
  }
  .index_header .menu {
    display: none;
  }
  .index_header .header_content {
    flex-wrap: wrap;
  }
  .index_header .header_content .header_h1 {
    font-family: Exo;
    font-style: italic;
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
    color: #FFFFFF;
    max-width: 630px;
  }
  .index_header .header_content .header_h2 {
    font-family: "Exo", sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 28px;
    line-height: 45px;
    color: #FFFFFF;
    background-color: #6D010C;
    width: 100%;
    text-align: center;
  }
  .index_header .header_content .header_form {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .index_header .header_content .header_form .form_h4 {
    font-family: Exo;
    font-style: italic;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: #737373;
  }
  .index_header .header_content .header_form form {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 13px 18px;
  }
  .index_header .header_content .header_form form .input {
    padding: 18px 14px;
    margin-top: 12px;
    background-color: #F8F8F8;
    border-radius: 5px;
    border-width: 0;
  }
  .index_header .header_content .header_form form .form_btn {
    background: #6D010C;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    border-radius: 5px;
    border-width: 0;
  }
  .index_header .header_content .header_form form .accept {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding-top: 24px;
  }
  .index_header .header_content .header_form form .accept .pp_link {
    font-size: 11px;
    line-height: 150%;
    color: #737373;
    text-decoration: none;
  }
  .index_header .header_content .header_form form .accept .accept_text {
    padding-left: 10px;
  }

  .review_image {
    display: none;
  }

  .footer .telephone_content {
    flex-direction: column;
    justify-content: center;
  }
  .footer .footer_content {
    flex-direction: column;
    max-width: 330px;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=style.css.map */
